@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2D67FF;
  --highlight: #FF8C00;
}

html, body, #root {
  height: 100%;
}

.card {
  @apply bg-white rounded-xl shadow-sm hover:shadow-md transition-shadow;
}

.scrollbar-thin {
  scrollbar-width: thin;
}
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.15);
  border-radius: 9999px;
}
